#Pokemons{
    width: 80%;
    background-color: white;
}

ul li a{
    text-decoration: none;
    color: white;
    padding: 5px;
    background-color: red;
}

input [type="text"]{
    border-color: red;
    background-color: white;
    padding: 5px;
    width:100%;
}

input [type="submit"] {
    border-color: black;
    background-color: red;
    color: white;
    padding: 5px;
    width: 100%;
}

input [type="submit"] :hover{
    border-color: black;
    background-color: white;
    color: red;
    padding: 5px;
    width: 100%;
}
