ul li a{
    text-decoration: none;
    color: white;
    padding: 5px;
    background-color: red;
}

input [type="text"]{
    border-color: red;
    background-color: white;
    padding: 5px;
    width:100%;
}

input [type="submit"] {
    border-color: black;
    background-color: red;
    color: white;
    padding: 5px;
    width: 100%;
}

input [type="submit"] :hover{
    border-color: black;
    background-color: white;
    color: red;
    padding: 5px;
    width: 100%;
}

body {
    font-size: 1.2rem;
    font-family: Georgia, Cambria, "Times New Roman", sans-serif;

}

#pokemon:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
}

#pokemon {
    width: 80%;
    background-color: white;
    display: inline-block;
}

#Pokemons figure {
    float: left;
    clear: right;
    margin-right: 5%;
}

#Pokemons figure figcaption {
    text-align: center;

}
